<%- include('../../layouts/header') %>

<%- include('../../layouts/navBar') %>

<div class="flex items-center justify-center bg-gray-100 h-screen px-8 py-6 w-full">

  <form class="flex flex-col space-y-4 w-full max-w-2xl px-8 py-6 bg-white rounded-lg shadow-md md:w-full" onsubmit="addEpreuve(event);">
      <h1 class="text-3xl font-bold text-center text-gray-800 mb-4">Epreuve</h1>
  
    <div class="grid grid-cols-1 gap-4">
      
      <div class="flex flex-col">
        <label for="sport_id" class="text-sm font-medium text-gray-700">Sport:</label>
        <select id="sport_id" name="sport_id" class="rounded-md border border-gray-300 p-2 focus:outline-none focus:ring-1 focus:ring-blue-500 mt-2 " required>
            <option value="">- Select -</option>

            <% sports.forEach(sport => { %>
                <option value="<%= sport.id %>"><%= sport.name %></option>
            <% }) %>


        </select>
      </div>
      
    </div>
  
    <div class="grid grid-cols-1 gap-4"> 
      <div class="flex flex-col">
        <label for="date" class="text-sm font-medium text-gray-700">Date d'epreuve:</label>
        <input type="date" id="date" name="date" class="rounded-md border border-gray-300 p-2 focus:outline-none focus:ring-1 focus:ring-blue-500 mt-2" required>
      </div>
    </div>

    <div class="grid grid-cols-1 gap-4"> 
      <div class="flex flex-col">
        <label for="label" class="text-sm font-medium text-gray-700">Titre:</label>
        <input type="text" id="label" name="label" class="rounded-md border border-gray-300 p-2 focus:outline-none focus:ring-1 focus:ring-blue-500 w-full mt-2" maxlength="20" required>
      </div>
    </div>
    <div class="grid grid-cols-1 gap-4"> 
      <div class="flex flex-col">
        <label for="lieu" class="t  ext-sm font-medium text-gray-700">Lieu:</label>
        <input type="text" id="lieu" name="lieu" class="rounded-md border border-gray-300 p-2 focus:outline-none focus:ring-1 focus:ring-blue-500 mt-2" maxlength="20" required>
      </div>
    </div>

    <button type="submit" class="flex w-full justify-center rounded-md bg-neutral-800 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-neutral-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-neutral-800">Sauvegarder</button>

  
  </form>

  <script src="/js/epreuve/add-epreuve.js"></script>

</div>


  


<%- include('../../layouts/footer') %>  