<%- include('../../layouts/header') %> <%- include('../../layouts/navBar') %>

<main class="p-8 pt-24">
  <div class="flex items-center justify-between">
    <h2 class="text-2xl font-bold">Epreuves</h2>
    <a
      href="/admin/epreuves/add"
      class="flex justify-center rounded-md bg-neutral-800 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-neutral-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-neutral-800"
      >Ajouter un epreuve</a
    >
  </div>

  <table class="w-full mt-4">
    <thead>
      <tr>
        <th
          class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-white"
        >
          #
        </th>
        <th
          class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-white"
        >
          Sport
        </th>
        <th
          class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-white"
        >
          Label
        </th>
        <th
          class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-white"
        >
          Date
        </th>
        <th
          class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-white"
        >
          Lieu
        </th>
        <th class="px-6 py-3 border-b border-gray-200 bg-gray-50"></th>
      </tr>
    </thead>

    <tbody class="bg-white">
      <% epreuves.forEach(epreuve => { %>
      <tr>
        <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
          <div>
            <div class="text-sm leading-5 text-gray-900"><%= epreuve.id %></div>
          </div>
        </td>

        <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
          <div>
            <div class="text-sm leading-5 text-gray-900"><%= epreuve.sport.name %></div>
          </div>
        </td>

        <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
          <div>
            <div class="text-sm leading-5 text-gray-900"><%= epreuve.label %></div>
          </div>
        </td>

        <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
          <div>
            <div class="text-sm leading-5 text-gray-900"><%= new Date(epreuve.date).toLocaleDateString('fr-FR', { year: 'numeric', month: 'long', day: 'numeric' }) %></div>
          </div>
        </td>

        <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
          <div>
            <div class="text-sm leading-5 text-gray-900"><%= epreuve.lieu %></div>
          </div>
        </td>
        <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
          <div class="flex items-center">
            <form
              action="/api/admin/epreuves/<%= epreuve.id %>/delete"
              method="GET"
            >
              <button
                type="submit"
                class="text-red-600 hover:text-red-900 ml-4"
              >
                Supprimer
              </button>
            </form>
            <a href="/admin/resultats/add" class="text-blue-600 hover:text-blue-900 ml-4">Ajouter un athlete</a> 
          </div>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</main>

<%- include('../../layouts/footer') %>
